@font-face {
    font-family: ComicMono;
    src: url(./ComicMono.ttf);
}

body{
    font-family: ComicMono, Arial, sans-serif;
    background-color: #212121;
    padding: 100px;
    padding-top: 0px;
    color: orange;
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.rm-underline{
    text-decoration: none;
}

#container{
    margin-bottom: 50px;
}

.section{
    background-color: #212111;
}

a{
    color: orange;
    font-size: larger;
}

a:hover{
    color: orangered;
}

hr{
    border-top: 3px solid orange;
}

/* Media Query for smartphones */
@media screen and (max-width: 640px) {
    body {
        padding: 50px;
        padding-top: 0px;
    }
}